    </div>

    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Bootstrap core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="<?php echo $base?>/static/js/main.js"></script>

    <link href="/static/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap-toggle.min.js"></script>

  </body>
</html>
